<ion-content>
  <div class="p-4">
    <h1 class="mt-4">
      Selamat Datang
    </h1>
    <p>
      Silahkan isi form untuk mengakses aplikasi <span class="text-primary">SMK Kartikatama Metro</span>
    </p>
  
    <div class="my-4">
      <div class="form-group">
        <label>Username / Email</label>
        <input class="form-control" type="text" value="" placeholder="username atau email kamu" [(ngModel)]="data.email">
      </div>
      <div class="input-group">
        <input [(ngModel)]="data.password" type="{{typeInput}}" class="form-control" placeholder="kata sandi kamu">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="showHidePassword()">
            <i class="ri-eye-{{ (isShowPassword) ? '' : 'off-' }}fill h3"></i>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-block btn-lg mt-5" (click)="login()" [disabled]="data.email == '' || data.password == ''">
      Login
    </button>
  </div>
</ion-content>
<ion-footer>
  <small class="mb-0 text-center " style="font-size: 10px;">©2021 All Right Reserved || CODENUB (by Rendi Febrian)</small>
</ion-footer>
