<ion-header>
    <ion-navbar class="bg-primary" color="primary">
        <ion-buttons left>
            <button ion-button (click)="viewCtrl.dismiss()" clear color="white" icon-only>
				<i class=" ri-arrow-left-line icon-back"></i>
			</button>
        </ion-buttons>
        <ion-title>Absen</ion-title>
    </ion-navbar>
    <div class="bg-primary d-flex justify-content-between w-100 header-home align-items-center">
        <div>
            <h2>{{ ujian.ujian_name }}</h2>
        </div>
    </div>
</ion-header>

<ion-content>
    <div class="p-4">
        <div class="mb-4">
            <p>
                Silahkan Selfie Untuk Absensi Ujian. Diharapkan Menggunakan Pakaian Sekolah Sesuai Peraturan.
            </p>
        </div>
        <hr class="my-5">

        <div class="text-center">
            <button class="btn btn-primary btn-block" (click)="doAbsen()"> Ambil Foto</button>
            <br>

            <ng-container *ngIf="base64Image !== undefined">
                <img src="{{ base64Image }}" alt="" style="width: 80vw;height: 300px;">
                <button class="btn btn-primary" (click)="saveAbsen()"> Simpan Absen</button>
            </ng-container>

        </div>

    </div>
</ion-content>