<ion-header>
  <ion-navbar class="bg-primary" color="primary">
		<ion-title class="text-center">Ujian Selesai</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="bg-primary">
  <div class="p-4 align-items-center d-flex h-100">
    <div class="m-auto text-center text-white div-result">
      <h1>GOOD JOB!</h1>
      <img src="../../assets/images/icon-compelete-exam.svg">
      <h2>{{ siswa.siswa_name }}</h2>
      <h3>{{ siswa.siswa_kelas_name }} {{ siswa.siswa_jurusan_name }} {{ siswa.siswa_sub_jurusan_name }}</h3> 
      <p class="my-0">{{ siswa.siswa_nis }}</p>
      <p>Kamu telah menyelesaikan ujian</p><br>
      <button class="btn btn-block btn-backtohome btn-lg mt-5" (click)="home()">Kembali ke beranda</button>
    </div>
  </div>
</ion-content>
