<ion-header class="mb-2">
  <div class="bg-primary d-flex w-100 header-home" id="header-global" style="align-items: center;justify-content:center">
    <img class="rounded-circle header-profile-logo mr-2" src="../../assets/images/logo.png" >
    <div class="text-center">
      <p style="font-size:3vw">PERGURUAN KRIDA KARTIKATAMA METRO</p>
      <p style="font-size:4vw">SMK KARTIKATAMA METRO</p>
      <p style="font-size:2.5vw">Jl. Kapten P. Tendean Margorejo Metro Selatan Kota Metro</p>
    </div>
  </div>
</ion-header>
<ion-content id="content-elearning">

  <div class="p-4">
    <h2 class="mb-4 font-weight-bold text-primary">Daftar E-Learning</h2>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="text-center" style="height: 100%;display: flex;justify-content: center;align-items: center;" *ngIf="loadingData;else showData">
      <ion-spinner></ion-spinner>
    </div>

    <ng-template #showData>
      <ng-container *ngIf="listData.length > 0;else noData">
        <div class="d-flex align-items-center justify-content-between shadow-lg py-2" *ngFor="let item of listData" (click)="detail(item.elearning_uuid)">
          <div class="d-flex align-items-center">
            <div class="icon-examlist mr-4">
              <img src="../../assets/images/icon-pdf.svg">
            </div>
            <div class="text-elearning">
              <h3>{{ item.elearning_name }}</h3>
              <span>{{ global.convertDateGMT7(item.date_created) }}</span>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #noData>
        <div class="d-flex align-items-center w-100 bg-light h-empty">
          <div class="m-auto py-4 text-center">
            <img src="../../assets/images/icon-empty-exam.png">
            <h2 class="mt-3 font-weight-bold">Tidak ada materi E-Learning</h2>
            <p>Tunggu materi yang akan data ya</p>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>

</ion-content>
