<ion-header>
  <ion-navbar class="bg-primary" color="primary">
    <ion-buttons left>
      <button ion-button (click)="viewCtrl.dismiss()" clear color="white" icon-only>
        <i class=" ri-arrow-left-line icon-back"></i>
      </button>
    </ion-buttons>
    <ion-title >Detail E-Learning</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="text-center" style="height: 100%;display: flex;justify-content: center;align-items: center;" *ngIf="loadingData;else showData">
    <ion-spinner></ion-spinner>
  </div>
  
  <ng-template #showData>
    <div class="h-100 section-materi">
      <h2>{{ content['elearning_name'] }}</h2>
      <p>{{ content['elearning_kelas_name'] }} - {{ content['elearning_jurusan_name'] }}</p>
      <hr>
      <!-- <span>Desctription</span>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ipsa reprehenderit soluta distinctio nisi tenetur optio error ratione dolor veniam dicta consequatur sed aspernatur unde ducimus eaque, ipsum repudiandae sapiente.</p> -->
      <!-- <h3 class="text-primary font-weight-bold mb-3">Materi</h3> -->
      <div class="d-flex align-items-center justify-content-between shadow p-3" (click)="openPDF(content['elearning_file'])">
        <div class="d-flex align-items-center">
          <img src="../../assets/images/icon-pdf.svg" class="mr-4">
          <div class="text-ebook pr-4">
            <h3>Download materi pembelajaran</h3>
          </div> 
        </div>
        <i class=" ri-arrow-right-s-line"></i>
      </div>
    </div>
  </ng-template>
</ion-content>