<ion-header class="mb-2">
  <div class="bg-primary d-flex w-100 header-home" id="header-global" style="align-items: center;justify-content:center">
    <img class="rounded-circle header-profile-logo mr-2" src="../../assets/images/logo.png" >
    <div class="text-center">
      <p style="font-size:3vw">PERGURUAN KRIDA KARTIKATAMA METRO</p>
      <p style="font-size:4vw">SMK KARTIKATAMA METRO</p>
      <p style="font-size:2.5vw">Jl. Kapten P. Tendean Margorejo Metro Selatan Kota Metro</p>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="p-4">
    <div class="media d-flex align-items-start text-primary border p-4 shadow mt-4 font-weight-bold" (click)="contact()">
      <div class="media-body ">
        <p class="my-0 f ">
          Hubungi Sekolahan
        </p>
      </div>
      <i class="ri-whatsapp-line"></i>
    </div>
    <div class="media d-flex align-items-start text-danger border p-4 shadow mt-4 font-weight-bold" style="margin-bottom: 100px;" (click)="logout()">
      <div class="media-body ">
        <p class="my-0 f ">
          Keluar Aplikasi
        </p>
      </div>
      <i class=" ri-logout-box-line"></i>
    </div>
  </div>
</ion-content>