<ng-container *ngIf="loadingData; else showContent">
</ng-container>
<ion-header>
  <ion-navbar class="bg-primary" color="primary">
    <ion-buttons left>
      <button ion-button (click)="viewCtrl.dismiss()" clear color="white" icon-only>
        <i class=" ri-arrow-left-line icon-back"></i>
      </button>
    </ion-buttons>
    <ion-title >Soal Ujian</ion-title>
    <div class="text-white timer-ujian">
      {{ global.getTimer(content.ujian_uuid) }} Menit
    </div>
  </ion-navbar>
  <div class="bg-primary d-flex justify-content-between w-100 header-home align-items-center">
    <div>
      <h2>{{ loadingData ? 'Nama Ujian' : content.ujian_name }}</h2>
      <p><span class="font-weight-bold">{{ loadingData ? 'Mata Pelajaran' : content.ujian_mata_pelajaran_id_label }}</span></p>
      <p>{{ loadingData ? 'Kelas' : content.ujian_kelas_name }} {{ loadingData ? 'Jurusan' : content.ujian_jurusan_name }}</p>
    </div>
    <h2 class="text-white">{{ loadingData ? '1/1' : currentNumber + '/' + content.soal?.length }}</h2>
  </div>
</ion-header>

<ion-content padding>
  <div class="text-center" style="height: 100%;display: flex;justify-content: center;align-items: center;" *ngIf="loadingData; else showContent">
    <ion-spinner></ion-spinner>
  </div>

  <ng-template #showContent>
    <div class="pt-4" style="margin-bottom: 100px;">
      <span class="text-primary">Soal {{ currentNumber }}</span>
      <p dir="rtl" lang="ar" innerHtml="{{ content.soal[currentNumber-1]?.soal_description }}"></p>
      <!-- <p dir="rtl" lang="ar">{{ content.soal[currentNumber-1]?.soal_description }}</p> -->
      <span class="text-primary">Jawaban</span>
      <ul class="list-group list-group-flush mt-3" radio-group id="list-choices">
        <li class="list-group-item list-group-item-action py-3 px-1 ripple mb-1" *ngFor="let choices of content.soal[currentNumber-1]?.soal_choices" (click)="setAnswer(choices.value, content.soal[currentNumber-1].soal_uuid)">
          <div class="media d-flex align-items-start">
            <ion-radio value="{{ choices.value }}" class="mt-2" [checked]="data.answer[content.soal[currentNumber-1].soal_uuid] == choices.value"></ion-radio>
            <div class="media-body ml-3 ">
              <p class="my-0 text-muted ">
                {{ choices.label }}
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
</ion-content>

<ion-footer *ngIf="!loadingData" id="footer-exam-preview">
  <div class="progress mb-4">
    <div class="progress-bar" role="progressbar" [style.width]="(currentNumber / content.soal?.length) * 100 +'%'" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="d-flex align-items-center w-100">
    <ng-container *ngIf="isFinished; else nextBack">
      <button class="btn btn-primary btn-lg w-100 btn-block mt-0" (click)="finish()">Finish</button>
    </ng-container>

    <ng-template #nextBack>
      <button class="btn btn-light btn-lg btn-primary w-50 btn-block" (click)="prev()" *ngIf="currentNumber > 1">Back</button>
      <button class="btn btn-primary btn-lg w-{{currentNumber > 1 ? '50' : '100'}} btn-block mt-0" (click)="next()">Next</button>
    </ng-template>
  </div>
</ion-footer>

<!-- <ng-template #showContent>

  <ion-content>
    <div class="p-4">
      <span class="text-primary">Soal 1</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, alias excepturi ipsa impedit error fugit qui ratione. Aliquid non sapiente beatae facilis? Eos dolor magnam eius commodi beatae architecto reprehenderit!
      </p>
      <span class="text-primary">Jawabannya</span>
      <ul class="list-group list-group-flush mt-3" radio-group>
        <li class="list-group-item list-group-item-action p-1 ripple mb-1" >
          <div class="media d-flex align-items-start">
            <ion-radio value="friends" class="mt-2" checked></ion-radio>
            <div class="media-body ml-3 ">
              <p class="my-0 text-muted ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente suscipit quis dignissimos doloribus quidem minus amet iure molestiae ad fugiat, perspiciatis magnam possimus iste dolore eos ducimus deserunt distinctio libero.
              </p>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-action p-1 ripple mb-1" >
          <div class="media d-flex align-items-start">
            <ion-radio value="family" class="mt-2"></ion-radio>
            <div class="media-body ml-3 ">
              <p class="my-0 text-muted ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <ng-template #Finish>
      <button class="btn btn-primary btn-lg btn-block" (click)="home()">Home</button>
      <button class="btn btn-primary btn-lg btn-block" (click)="review()">Review</button>
    </ng-template>
  </ion-content>
  <ion-footer>
    <div class="progress mb-4">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="d-flex align-items-center w-100">
        <button class="btn btn-light btn-lg btn-primary w-50 btn-block" (click)="prev()">Back</button>
        <button class="btn btn-primary btn-lg w-50 btn-block mt-0" (click)="next()">Next</button>
    </div>
  </ion-footer>
</ng-template> -->
