<ion-header class="mb-2">
  <div class="bg-primary d-flex w-100 header-home" id="header-global" style="align-items: center;justify-content:center">
    <img class="rounded-circle header-profile-logo mr-2" src="../../assets/images/logo.png" >
    <div class="text-center">
      <p style="font-size:3vw">PERGURUAN KRIDA KARTIKATAMA METRO</p>
      <p style="font-size:4vw">SMK KARTIKATAMA METRO</p>
      <p style="font-size:2.5vw">Jl. Kapten P. Tendean Margorejo Metro Selatan Kota Metro</p>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="p-4">

    <h2 class="text-center">
      {{ content.pengumuman_title }}
    </h2>

    <p class="pt-3" [innerHtml]="content.pengumuman_description"></p>

  </div>
</ion-content>
<ion-footer class="bg-primary">
  <div class="w-100 text-center text-white" (click)="viewCtrl.dismiss()">
    Tutup
  </div>
</ion-footer>