<ion-content>
  <ion-tabs color="primary">
    <ion-tab tabIcon="contact" tabTitle="Beranda" [root]="tabs.tab1"></ion-tab>
    <ion-tab tabIcon="document" tabTitle="Pengumuman" [root]="tabs.tab2"></ion-tab>
    <ion-tab tabIcon="settings" tabTitle="Setting" [root]="tabs.tab3"></ion-tab>
  </ion-tabs>
</ion-content>
