<ion-header class="mb-2">
  <div class="bg-primary d-flex w-100 header-home" id="header-global" style="align-items: center;justify-content:center">
    <img class="rounded-circle header-profile-logo mr-2" src="../../assets/images/logo.png" >
    <div class="text-center">
      <p style="font-size:3vw">PERGURUAN KRIDA KARTIKATAMA METRO</p>
      <p style="font-size:4vw">SMK KARTIKATAMA METRO</p>
      <p style="font-size:2.5vw">Jl. Kapten P. Tendean Margorejo Metro Selatan Kota Metro</p>
    </div>
  </div>
</ion-header>

<ion-content id="=">
  <div class="">
    <img src="{{ users.photo }}" class="mb-4 user-profile-photo">
    <h1 class="text-center"> {{ siswa.siswa_name }} </h1>
    <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-borderless">
          <tr>
            <td>NIS/NISN</td>
            <td>:</td>
            <td>{{ siswa.siswa_nis }} / {{ siswa.siswa_nisn }}</td>
          </tr>
          <tr>
            <td>Kelas</td>
            <td>:</td>
            <td>{{ siswa.siswa_kelas_name }}</td>
          </tr>
          <tr>
            <td>Jurusan</td>
            <td>:</td>
            <td>{{ siswa.siswa_jurusan_name }}</td>
          </tr>
          <tr>
            <td>Tanggal Lahir</td>
            <td>:</td>
            <td>{{ global.convertDateGMT7(siswa.siswa_dob) }}</td>
          </tr>
          <tr>
            <td>Agama</td>
            <td>:</td>
            <td>{{ siswa.siswa_agama_name }}</td>
          </tr>
          <tr>
            <td>Jenis Kelamin</td>
            <td>:</td>
            <td>{{ siswa.siswa_gender_name }}</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- <ul class="list-group">
      <li class="list-group-item px-0">
        <p class="text-dark mb-0">NIS</p>
        <p class="text-profile" ion-text color="dark">
          {{ siswa.siswa_nis }}
        </p>
      </li>
      <li class="list-group-item px-0">
        <p class="text-dark mb-0">Nama Lengkap</p>
        <p class="text-profile" ion-text color="dark">
          {{ siswa.siswa_name }}
        </p>
      </li>
      <li class="list-group-item px-0">
        <p class="text-dark mb-0">Kelas</p>
        <p class="text-profile" ion-text color="dark">
          {{ siswa.siswa_kelas_name }} {{ siswa.siswa_jurusan_name }} - {{ siswa.siswa_sub_jurusan_name }}
        </p>
      </li>
      <li class="list-group-item px-0">
        <p class="text-dark mb-0">Tanggal Lahir</p>
        <p class="text-profile" ion-text color="dark">
          {{ global.convertDateGMT7(siswa.siswa_dob) }}
        </p>
      </li>
      <li class="list-group-item px-0">
        <p class="text-dark mb-0">Agama</p>
        <p class="text-profile" ion-text color="dark">
          {{ siswa.siswa_agama_name }}
        </p>
      </li>
      <li class="list-group-item px-0">
        <p class="text-dark mb-0">Telepon</p>
        <p class="text-profile" ion-text color="dark">
          {{ siswa.siswa_phone }}
        </p>
      </li>
      <li class="list-group-item px-0">
        <p class="text-dark mb-0">Jenis Kelamin</p>
        <p class="text-profile" ion-text color="dark">
          {{ siswa.siswa_gender_name }}
        </p>
      </li>
    </ul> -->
    <div class="media d-flex align-items-start text-primary border p-4 shadow mt-4 font-weight-bold" (click)="showCard()">
      <div class="media-body ">
        <p class="my-0 f ">
          Lihat Kartu Pelajar
        </p>
      </div>
      <i class="ri-eye-fill"></i>
    </div>
    <div class="media d-flex align-items-start text-danger border p-4 shadow mt-4 font-weight-bold" style="margin-bottom: 100px;" (click)="logout()">
      <div class="media-body ">
        <p class="my-0 f ">
          Logout
        </p>
      </div>
      <i class=" ri-logout-box-line"></i>
    </div>

  </div>
</ion-content>
