<ion-content>
  <ion-tabs color="primary">
    <ion-tab tabIcon="home" text="Beranda" [root]="tabs.beranda" tabTitle="Beranda"></ion-tab>
    <ion-tab tabIcon="laptop" text="E-Learning" [root]="tabs.elearning" tabTitle="E-Learning"></ion-tab>
    <ion-tab tabIcon="checkbox" text="Ujian" [root]="tabs.exam" tabTitle="Ujian"></ion-tab>
    <ion-tab tabIcon="contact" text="Profile" [root]="tabs.profile" tabTitle="Profile"></ion-tab>
  </ion-tabs>
</ion-content>
