<ion-header class="mb-2">
    <div class="bg-primary d-flex w-100 header-home" id="header-global" style="align-items: center;justify-content:center">
        <img class="rounded-circle header-profile-logo mr-2" src="../../assets/images/logo.png">
        <div class="text-center">
            <p style="font-size:3vw">PERGURUAN KRIDA KARTIKATAMA METRO</p>
            <p style="font-size:4vw">SMK KARTIKATAMA METRO</p>
            <p style="font-size:2.5vw">Jl. Kapten P. Tendean Margorejo Metro Selatan Kota Metro</p>
        </div>
    </div>
</ion-header>
<ion-content id="content-exam">
    <div class="p-4">
        <h2 class="mb-4 font-weight-bold text-primary">Ujian Hari Ini</h2>

        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <div class="text-center" style="height: 100%;display: flex;justify-content: center;align-items: center;" *ngIf="loadingData;else showData">
            <ion-spinner></ion-spinner>
        </div>

        <ng-template #showData>
            <ng-container *ngIf="listData.length > 0;else noData">
                <div class="d-flex align-items-center shadow-lg justify-content-between exam-list exam-success py-4" *ngFor="let item of listData" (click)="doExam(item.ujian_uuid, item.status, item.total, item)">
                    <div>
                        <h3>{{ item.ujian_name }}</h3>
                        <p class="mb-2">{{ item.mata_pelajaran_name }} - {{ item.total }} Soal</p>
                        <span *ngIf="!item.status">
              <mark class="mr-1 bg-light py-0 px-1 text-primary">upcoming</mark>
              {{ global.convertDateGMT7(item.ujian_start_date) }} - {{ global.convertDateGMT7(item.ujian_end_date) }}
            </span>
                        <br>
                        <span *ngIf="!item.status">
              <mark class="mr-1 bg-light py-0 px-1 text-primary">Start</mark>
              {{ item.ujian_start_access }}
            </span>
                        <br>
                        <span *ngIf="!item.status">
              <mark class="mr-1 bg-light py-0 px-1 text-primary">End</mark>
              {{ item.ujian_end_access }}
            </span>
                        <span *ngIf="item.status">
              <mark class="mr-1 bg-primary py-0 px-1 text-white">selesai</mark>
              <span class="text-primary">
                {{ (item?.result?.true + item?.result?.false) }} /
                {{ (item?.result?.true + item?.result?.false + item?.result?.none) }}
              </span>
                        </span>
                    </div>
                    <i class=" ri-arrow-right-s-line text-primary"></i>
                </div>

            </ng-container>

            <ng-template #noData>
                <div class="d-flex align-items-center w-100 bg-light h-empty">
                    <div class="m-auto py-4 text-center">
                        <img src="../../assets/images/icon-empty-exam.png">
                        <h2 class="mt-3 font-weight-bold">Tidak ada jadwal ujian</h2>
                        <p>Tapi tetap belajar ya</p>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <!-- <ng-template #AbsenFirst>
    <ion-refresher (ionRefresh)="doRefreshAbsen($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="text-center" style="height: 100%;display: flex;justify-content: center;align-items: center;" *ngIf="loadingDataAbsen;else stateAbsen">
      <ion-spinner></ion-spinner>
    </div>

    <ng-template #stateAbsen>
      <div class="p-4">
        <h2 class="mb-4 font-weight-bold text-primary">Absen Sebelum Ujian</h2>

        <div class="d-flex align-items-center w-100 bg-light h-empty">
          <div class="m-auto py-4 text-center">
            <h2 class="mt-3 font-weight-bold">Absen Terlebih Dahulu Sebelum Mengerjakan Soal</h2>
            <p>Harap Menggunakan Seragam Sekolah.</p>
            <button class="btn btn-primary">Absen</button>
          </div>
        </div>
      </div>
    </ng-template>

  </ng-template> -->

</ion-content>