<ion-header class="mb-2">
  <div class="bg-primary d-flex w-100 header-home" id="header-global" style="align-items: center;justify-content:center">
    <img class="rounded-circle header-profile-logo mr-2" src="../../assets/images/logo.png" >
    <div class="text-center">
      <p style="font-size:3vw">PERGURUAN KRIDA KARTIKATAMA METRO</p>
      <p style="font-size:4vw">SMK KARTIKATAMA METRO</p>
      <p style="font-size:2.5vw">Jl. Kapten P. Tendean Margorejo Metro Selatan Kota Metro</p>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="p-4">
    <div class="" *ngIf="siswa !== undefined && siswa.length !== 0;else noSiswa">
      <div class="d-flex align-items-center justify-content-between box-night-day">
        <div class="py-1">
          <span>{{ today }} {{todayDate}}</span>
          <h3>Selamat {{timeText}}.</h3>
        </div>
        <div >
          <i class="mdi {{iconTime}} icon-day-night"></i>
        </div>
      </div>
  
      <div class="p-4">
        <h2 class="mb-3 font-weight-bold text-primary">Data Siswa</h2>
        <ul class="list-group">
          <li class="list-group-item px-0">
            <p class="text-dark mb-0">Absen hari ini : {{ today }} {{todayDate}}</p>
            <p class="text-profile" ion-text [color]="statusAbsence == 'Masuk' ? 'primary' : 'danger'">
              Siswa {{ statusAbsence }}
            </p>
          </li>
          <li class="list-group-item px-0">
            <p class="text-dark mb-0">Nama Lengkap</p>
            <p class="text-profile" ion-text color="dark">
              {{ siswa.siswa_name }}
            </p>
          </li>
          <li class="list-group-item px-0">
            <p class="text-dark mb-0">Kelas</p>
            <p class="text-profile" ion-text color="dark">
              {{ siswa.siswa_kelas_name }} {{ siswa.siswa_jurusan_name }} - {{ siswa.siswa_sub_jurusan_name }}
            </p>
          </li>
        </ul>
    
      </div>
    </div>
  </div>
  <ng-template #noSiswa>
    <div class="text-center">
      <span class="">
        Tidak ada data siswa
      </span>
    </div>
  </ng-template>
</ion-content>