<ion-content>
  <div class="bg-primary div-welcome-top d-flex align-items-center">
    <img class="m-auto" src="../../assets/images/logo.png">
  </div>
  <div class="align-items-center d-flex welcome-text">
    <div class="text-center w-100">
      <h1>
        SMK
      </h1>
      <h1>
        Kartikatama Metro
      </h1>
      <p>Jl. Kapten Tendean No.25, Margorejo, Metro Sel., Kota Metro, Lampung 34125</p>
    </div>
  </div>
</ion-content>
<ion-footer class="">
  <button class="btn btn-primary btn-block btn-lg btn-getstarted" (click)="login()">
    Login
  </button>
</ion-footer>