<ion-header>
  <ion-navbar class="bg-primary" color="primary">
    <ion-buttons left>
      <button ion-button (click)="viewCtrl.dismiss()" clear color="white" icon-only>
        <i class=" ri-arrow-left-line icon-back"></i>
      </button>
    </ion-buttons>
    <ion-title >Kartu Pelajar</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="cardku" style="margin: auto;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);height: 5.6cm;width: 9cm; border: 1px solid #999; border-radius: 10px; position: relative;background-image: linear-gradient(to right top, #fafafa, #f1f6fb, #e3f4f7, #dbf1e9, #e1ebd5);">
    <div style="background: rgb(237,237,237);background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(18,134,70,1) 0%, rgba(42,175,104,1) 34%, rgba(67,217,139,1) 58%, rgba(67,217,139,1) 80%, rgba(67,217,139,1) 98%);height: 2.2cm; border-radius: 10px 10px 20px 20px; border-bottom: 5px solid #fbab00;">
      <img class="rounded-circle" width="65px" src="../../assets/images/logo.png" style="position:absolute; top:7px; left:10px;">
      <div class="font-weight-bold text-center pt-3" style="font-family: 'DM Serif Text', serif; margin-left: 60px;">
        <p class="m-0" style="font-size:3mm">PERGURUAN KRIDA KARTIKATAMA METRO</p>
        <p class="m-0" style="font-size:4mm">SMK KARTIKATAMA METRO</p>
        <p class="m-0" style="font-size:2mm">Jl. Kapten P. Tendean Margorejo Metro Selatan Kota Metro</p>
      </div>
    </div>

    <img src="{{ src }}" alt="" class="img-kp" style="
      position: absolute;
      left: 20px;
      width: 64px;
      height: 75px;
      bottom: 36px;
      border: 2px solid #999;
      border-radius: 5px;
    ">
    <table style="
      position: absolute;
      top: 95px;
      line-height: 12px;
      left: 92px;
      font-size: 8px;
      font-weight: 500;
    ">
      <tr>
        <td>NIS/NISN</td>
        <td>: &nbsp;</td>
        <td>{{ siswa.siswa_nis }} / {{ siswa.siswa_nisn }}</td>
      </tr>
      <tr>
        <td>Nama</td>
        <td>: &nbsp;</td>
        <td>{{ siswa.siswa_name }}</td>
      </tr>
      <tr>
        <td>Jenis Kelamin</td>
        <td>: &nbsp;</td>
        <td>{{ siswa.siswa_gender_name }}</td>
      </tr>
      <tr>
        <td>Agama</td>
        <td>: &nbsp;</td>
        <td>{{ siswa.siswa_agama_name }}</td>
      </tr>
      <tr>
        <td>Tempat/Tgl.Lahir</td>
        <td>: &nbsp;</td>
        <td>{{ siswa.siswa_dob_place }}, {{ global.convertDateGMT7(siswa.siswa_dob) }}</td>
      </tr>
      <tr>
        <td>Alamat</td>
        <td>: &nbsp;</td>
        <td style="width:100px; text-overflow:ellipsis; overflow:hidden">{{ siswa.siswa_address }}</td>
      </tr>
    </table>
    <img src="../../../assets/images/qr.png" style="position: absolute;right: 7px;bottom: 38px;width: 70px;">

    <div class="text-center w-100" style="background: rgb(237,237,237);background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(18,134,70,1) 0%, rgba(42,175,104,1) 34%, rgba(67,217,139,1) 58%, rgba(67,217,139,1) 80%, rgba(67,217,139,1) 98%); height:0.3cm; position:absolute;bottom: 0px;border-radius: 10px;border-top: 3px solid #fbab00;">
      <p class="m-0" style="font-size: 0.2cm;position: relative;bottom: 2px;">www.smkkartikatama.sch.id</p>
    </div>
  </div>
</ion-content>
<ion-footer class="bg-primary text-center text-white">
  <span (click)="download()" style="display:block; width:100%">
    Download
  </span>
  <!-- <span (click)="dw()">
    Download
  </span> -->
</ion-footer>