<ion-header>
  <ion-navbar class="bg-primary" color="primary">
		<ion-buttons left>
			<button ion-button (click)="viewCtrl.dismiss()" clear color="white" icon-only>
				<i class=" ri-arrow-left-line icon-back"></i>
			</button>
		</ion-buttons>
		<ion-title >Review Hasil Ujian</ion-title>
	</ion-navbar>
  <div class="bg-primary d-flex justify-content-between w-100 header-home align-items-center">
    <div>
      <h2>Ini Judul Ujian</h2>
      <p><span class="font-weight-bold">Rara Kusuma</span> XII IPA 4 - 424327429</p>
    </div>
    <div class="text-right">
      <span class="text-white">Soal Terjawab</span>
      <h2 class="text-white">11/100</h2>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="p-4">
    <div class="mb-4">
      <span class="text-primary">Soal 1</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, alias excepturi ipsa impedit error fugit qui ratione. Aliquid non sapiente beatae facilis? Eos dolor magnam eius commodi beatae architecto reprehenderit!
      </p>
      <span class="text-primary">Jawaban</span>
      <p>
        <span class="text-primary mr-2">A</span>Lorem ipsum dolor sit amet consectetur adipisicing elit
      </p>
    </div>
    <hr class="my-5">
    <div class="mb-4">
      <span class="text-primary">Soal 2</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, alias excepturi ipsa impedit error fugit qui ratione. Aliquid non sapiente beatae facilis? Eos dolor magnam eius commodi beatae architecto reprehenderit!
      </p>
      <span class="text-primary">Jawabannya</span>
      <p>
        <span class="text-primary mr-2">A</span>Lorem ipsum dolor sit amet consectetur adipisicing elit
      </p>
    </div>
    <hr class="my-5">
    <div class="mb-4">
      <span class="text-primary">Soal 2</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, alias excepturi ipsa impedit error fugit qui ratione. Aliquid non sapiente beatae facilis? Eos dolor magnam eius commodi beatae architecto reprehenderit!
      </p>
      <span class="text-primary">Jawabannya</span>
      <p>
        <span class="text-primary mr-2">A</span>Lorem ipsum dolor sit amet consectetur adipisicing elit
      </p>
    </div>

  </div>
</ion-content>
