page-beranda {
  .content-with-content-scroll{
    max-height: 330px;

    .scroll-content{
      margin-bottom: 0px!important;
      padding: 0px!important;
    }

    .fixed-content{
      margin-bottom: 0px!important;
    }
  }
}
