<ion-header class="mb-2">
  <div class="bg-primary d-flex w-100 header-home" id="header-global" style="align-items: center;justify-content:center">
    <img class="rounded-circle header-profile-logo mr-2" src="../../assets/images/logo.png" >
    <div class="text-center">
      <p style="font-size:3vw">PERGURUAN KRIDA KARTIKATAMA METRO</p>
      <p style="font-size:4vw">SMK KARTIKATAMA METRO</p>
      <p style="font-size:2.5vw">Jl. Kapten P. Tendean Margorejo Metro Selatan Kota Metro</p>
    </div>
  </div>
</ion-header>
<ion-content padding id="content-beranda">

  <div class="d-flex align-items-center justify-content-between box-night-day">
    <div class="py-1">
      <span>{{serverTime}} WIB</span>
      <h3>Selamat {{timeText}}.</h3>
      <p class="mb-0">Jangan lupa belajar ya.</p>
    </div>
    <div >
      <i class="mdi {{iconTime}} icon-day-night"></i>
    </div>
  </div>

  <h2 class="mb-4 font-weight-bold text-primary">Ujian Hari Ini</h2>

  <ion-content class="content-with-content-scroll">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="text-center" style="height: 100%;display: flex;justify-content: center;align-items: center;" *ngIf="loadingData;else showData">
      <ion-spinner></ion-spinner>
    </div>

    <ng-template #showData>
      <ng-container *ngIf="listData.length > 0;else noData">
        <div class="d-flex align-items-center shadow-lg justify-content-between exam-list exam-success py-4" *ngFor="let item of listData">
          <div>
            <h3>{{ item.ujian_name }}</h3>
            <p class="mb-2">{{ item.mata_pelajaran_name }} - {{ item.total }} Soal</p>
            <span *ngIf="!item.status"> 
              <mark class="mr-1 bg-light py-0 px-1 text-primary">upcoming</mark>
              {{ global.convertDateGMT7(item.ujian_start_date) }} - {{ global.convertDateGMT7(item.ujian_end_date) }}
            </span>
            <span *ngIf="item.status">
              <mark class="mr-1 bg-primary py-0 px-1 text-white">selesai</mark>
              <span class="text-primary">
                {{ (item?.result?.true + item?.result?.false) }} / {{ (item?.result?.true + item?.result?.false + item?.result?.none) }}
              </span>
            </span>
          </div>
        </div>
      </ng-container>

      <ng-template #noData>
        <div class="d-flex align-items-center w-100 bg-light h-empty">
          <div class="m-auto py-4 text-center">
            <img src="../../assets/images/icon-empty-exam.png">
            <h2 class="mt-3 font-weight-bold">Tidak ada jadwal ujian</h2>
            <p>Tapi tetap belajar ya</p>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </ion-content>



  <!-- <div class="px-2 pt-3">
    <h2 class="mb-3 font-weight-bold">Kelas Hari Ini</h2>
    <div class="d-flex align-items-center w-100 bg-light h-empty">
      <div class="m-auto py-4 text-center">
        <img src="../../assets/images/icon-empty-class.png">
        <h2 class="mt-4 font-weight-bold">Selamat Hari Libur</h2>
        <p>Tapi tetap belajar ya</p>
      </div>
    </div>
    <div class="d-flex align-items-center class-list class-active">
      <div class="text-jam">
        <h3>07:00</h3>
        <p>WIB</p>
      </div>
      <div class="text-pelajaran">
        <h3>Matematika</h3>
        <p>Mr. Endah Hutamea</p>
      </div>
    </div>
    <div class="d-flex align-items-center class-list ">
      <div class="text-jam">
        <h3>09:00</h3>
        <p>WIB</p>
      </div>
      <div class="text-pelajaran">
        <h3>Bahasa Indonesia</h3>
        <p>Mr. Endah Hutamea</p>
      </div>
    </div>

    <h2 class="mb-3 mt-5 font-weight-bold">Ujian Hari Ini</h2>

    <div class="d-flex align-items-center w-100 bg-light h-empty">
      <div class="m-auto py-4 text-center">
        <img src="../../assets/images/icon-empty-exam.png">
        <h2 class="mt-3 font-weight-bold">Tidak ada jadwal ujian</h2>
        <p>Tapi tetap belajar ya</p>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between exam-list exam-active">
      <div class="d-flex align-items-center">
        <div class="icon-examlist">
          <i class="  ri-timer-line"></i>
        </div>
        <div class="text-exam">
          <h3>Ini judul ujian</h3>
          <p><span class="font-weight-bold mr-1">100 Soal</span>Mr. Endah Hutamea</p>
        </div>
      </div>
      <i class=" ri-arrow-right-s-line"></i>
    </div>
    <div class="d-flex align-items-center justify-content-between exam-list exam-success" >
      <div class="d-flex align-items-center">
        <div class="result-exam">
          <span class="small mb-0">Nilai</span>
          <h3 class="mb-0">80</h3>
          <p>/100</p>
        </div>
        <div class="text-exam">
          <span class="small text-primary">Selesai</span>
          <h3>Ini judul ujian</h3>
          <p>Mr. Endah Hutamea</p>
        </div>
      </div>
      <i class=" ri-arrow-right-s-line"></i>
    </div>
    <div class="d-flex align-items-center justify-content-between exam-list exam-unsuccess">
      <div class="d-flex align-items-center">
        <div class="result-exam">
          <span class="small mb-0">Nilai</span>
          <h3 class="mb-0">40</h3>
          <p>/100</p>
        </div>
        <div class="text-exam">
          <span class="small text-primary">Selesai</span>
          <h3>Ini judul ujian</h3>
          <p>Mr. Endah Hutamea</p>
        </div>
      </div>
      <i class=" ri-arrow-right-s-line"></i>
    </div>



  </div> -->

</ion-content>
